<h3>OctoPiWifi <small>{{ _('Version') }} {{ plugin_octopiwifi_plugin_version }}</small><div class="pull-right" data-bind="text: message"></div></h3>
<form class="form-vertical">
    <h4>{{ _('Add Connection') }}</h4>
    <div class="control-group">
        <label class="control-label">{{ _('SSID') }}</label>
        <div class="controls input-append">
            <select class="input-large" id="selected_ssid" data-bind="options: available_networks, value: selected_SSID, allowUnset: true"></select><span class="btn btn-primary add-on" type="button" data-bind="click: refresh_networks, disable: processing"><i class="fa fa-refresh" data-bind="css: {'icon-spin': processing()}"></i></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('WPA Key (leave blank for open networks)') }}</label>
        <div class="controls">
            <input class="input-text" id="wifi_key" type="password" data-bind="value: wifi_key">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn btn-primary" type="button" data-bind="click: add_wifi, disable: processing">{{ _('Add Wifi') }}</button>
        </div>
    </div>
    <h4>{{ _('Saved Connections') }}<div class="pull-right" data-bind="text: action_message"></div></h4>
    <div id="saved_connections" class="row-fluid" data-bind="foreach: saved_connections">
        <div class="row-fluid">
            <div class="btn-group">
                <button class="btn btn-primary btn-small" type="button" data-bind="click: $parent.activate_wifi, disable: $parent.processing"><i class="fa fa-check"></i></button>
                <button class="btn btn-danger btn-small" type="button" data-bind="click: $parent.remove_wifi, disable: ($parent.processing || $data === 'OctoPiWiFi')"><i class="fa fa-trash-alt"></i></button>
            </div>
            <span data-bind="text: $data"></span>
        </div>
    </div>
</form>
