<h4>OctoPiWifi <small>{{ _('Version') }} {{ plugin_octopiwifi_plugin_version }}</small></h4>
<form class="form-vertical">
    <div class="control-group">
        <label class="control-label">{{ _('SSID') }}</label>
        <div class="controls">
            <select class="input-large" id="selected_ssid" data-bind="options: available_networks, value: selected_SSID, allowUnset: true"></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('WPA Key') }}</label>
        <div class="controls">
            <input class="input-text" id="wifi_key" type="password" data-bind="value: wifi_key">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn btn-primary" type="button" data-bind="click: add_wifi, disable: processing">{{ _('Add Wifi') }}</button>
        </div>
    </div>
    <div class="row-fluid">
        <span data-bind="text: message"></span>
    </div>
    <!-- TODO: add nmcli con show results as list and allow delete and manual switching mode buttons -->
</form>
